@model IEnumerable<CRUD_XML_MVC.Models.Billing>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Billing/Billing.js")"></script>
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table ng-app="BillingApp" ng-controller="BillingCtrl">
    <tr>
        <th>
        </th>
        <th>
            Customer
        </th>
        <th>
            Type
        </th>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            Hours
        </th>
    </tr>
    <tr ng-repeat="Billing in Billings">
        <td>
            <a ng-click="Billing.IsEdit=true">Edit</a>|<a href="/Billing/Details/{{Billing.ID}}">Details</a>|<a
                href="/Billing/Delete/{{Billing.ID}}">Delete</a>
        </td>
        <td>
            <span ng-bind="Billing.Customer"></span>
        </td>
        <td>
            <span ng-repeat="Job in JobTypes | filter: {id:Billing.JobType}">{{Job.name}}</span>
        </td>
        <td>
            <span ng-bind="Billing.Date"></span>
        </td>
        <td>
            <span ng-bind="Billing.Description"></span>
        </td>
        <td>
            <span ng-bind="Billing.Hours"></span>
        </td>
    </tr>
</table>
